.seguros {
  padding-right: 40px;
  padding-left: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

#seguros .seguros {
  padding-top: 0px;
}

.seguros h2 {
  grid-column: 1/-1;
}

.seguros-bg {
  background: #111;
  color: #fff;
}

.seguros-item {
  background-color: #000;
  padding: 32px 32px 32px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr;
 padding-left: 120px;
 padding-right: 120px;
 margin-left: auto;
 margin-right: auto;
 border-radius: 4px;
}

.seguros-item h3 {
margin-bottom: 40px;
}

.seguros-item span {
  grid-column: 2;
  display: block;
  text-align: right;
  right: 0px;
}

.seguros-item ul {
  grid-column: 1/-1;
  margin-bottom: 32px;
}

.seguros-item li {
  display: flex;
  align-items: center;
  left: -40px;
  position: relative;
  }

.seguros-item li + li {
  margin-top: 20px;
}

.seguros-item li::before {
  content: "";
  display: block;
  width: 13px;
  height: 9px;
  background-image: url("../../img/icones/lista.svg");
  position: absolute;
  left: -21px;
}

.botao2 a {
  grid-column: 1/-1;
  }

@media (max-width: 800px) {
  .seguros {
    grid-template-columns: 1fr;
    padding-left: 0px;
  }
  }

