.vantagens-bg {
  background-color: #000;
}

.vantagens h2, h3 {
  color: #fff;
}

.vantagens p {
  color: #9c9c9c;
}

.vantagens {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-left: 40px;
}

.vantagens h2 {
  margin-bottom: 60px;
}

.vantagens ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px 80px;
  padding-left: 0px;
  padding-right: 40px;
  }

  .vantagens h3,
  .vantagens img {
    margin-bottom: 8px;
  }

  @media (max-width:800px) {
    .vantagens {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .vantagens h2 {
      margin-bottom: 40px;
    }
    .vantagens ul {
      grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
      gap: 20px;
    }

  }